body {
    margin: 0px;
    overflow: hidden;
}

.main-content { 
    left: 22.5%;
    position: absolute;
    width: 55%;
    height: 60%;
    display: flex;
    border: 2px dashed black;
    margin-top: 30px;
}

.healthSB {
    position: absolute;
    left: 1.5%;
    top: 10%;
}

.tastySB {
    position: absolute;
    left: 79%;
    top: 10%;
}

.crowd {
    position: absolute;
}

.controller {
    position: absolute;
}